ion-content{

    --ion-background-color: white;
}


ion-slide{

        width: 10px;
        height: 700px;
        background-color: black;
}


span{
    padding-bottom: 450px;
       position: absolute;
       display: flexbox;
       color: red;
      
   }
   
   p{
   
       position: absolute;
       padding-top: 400px;
       padding-left: 10px;
       color: red;

   }
