<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title color="primary">Guia Turistico - Namibe</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-slides pager="true" speed="1000">
  
          <ion-slide  >
              <span>
                Chamada Namibe desde 1985 é a Provincia de Angola, com umas das melhores vistas turisticas pode 
                oferecer, na mesma cidade se situa um dos maiores desertos do Mundo e a rarissima Welwitchia Mirabilis
            </span>
            <ion-img src="assets/na.jpg"></ion-img>
            <p>A Serra da Leba é uma formação montanhosa na provincia do Namibe, e a mesma é famosa pela 
              sua altitude, pela beleza e também pela estrada que a serpenteia</p>
          </ion-slide>
        
          <ion-slide>
              <span>
                  Chamada Namibe desde 1985 é a Provincia de Angola, com umas das melhores vistas turisticas pode 
                  oferecer, na mesma cidade se situa um dos maiores desertos do Mundo
                   e a rarissima Welwitchia Mirabilis
            </span>
              <ion-img src="assets/na2.jpg"></ion-img>
              <p>Welwitchia é um género monotípico de plantas verdes gimnospérmicas cuja única espécie é a famosa
                Welwitschia Mirabilis, popularmente conhecida como "Polvo do Deserto,
                 que só existe no deserto do Namibe em Angola"
              </p>
          </ion-slide>
        
          <ion-slide>
              <span>
                  Chamada Namibe desde 1985 é a Provincia de Angola, com umas das melhores vistas turisticas pode 
                  oferecer, na mesma cidade se situa um dos maiores desertos do Mundo e a rarissima Welwitchia Mirabilis
               </span>
              <ion-img src="assets/ma3.jpg"></ion-img>
              <p>A imagem encontra-mos a igreja do Sameiro, um dos maiores ponos turisticos da Provincia.</p>
          </ion-slide>
        
        </ion-slides>
        
  </ion-content>

  