<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title color="primary">Guia Turistico- Bengo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" speed="1000">

        <ion-slide style="background-color: aquamarine" >
          <span>Bengo é uma das 18 provincias de Angola, localizada na região centro-norte do país
                sendo adjacente á provincias de Luanda. Sua capital está na cidade de Caxito, no minicípio de 
                Dande.
          </span>
          <ion-img src="assets/be.jpg"></ion-img>
           <p>A imagem encontra-mos a igreja do Sameiro, um dos maiores ponos turisticos da Provincia.</p>
        </ion-slide>
       
        <ion-slide style="background-color:aquamarine">
            <span>Bengo é uma das 18 provincias de Angola, localizada na região centro-norte do país
                sendo adjacente á provincias de Luanda. Sua capital está na cidade de Caxito, no minicípio de 
                Dande.
          </span>
            <ion-img src="assets/be1.jpg"></ion-img>
            <p>A imagem encontra-mos a Praca do Governo Provincial do Bengo, um dos maiores ponos turisticos da Provincia.</p>
        </ion-slide>
      
        <ion-slide style="background-color:aquamarine">
            <span>Bengo é uma das 18 provincias de Angola, localizada na região centro-norte do país
                sendo adjacente á provincias de Luanda. Sua capital está na cidade de Caxito, no minicípio de 
                Dande.
            </span>
            <ion-img src="assets/be2.jpg"></ion-img>
            <p>A imagem encontra-mos O Jacare Bangao, um dos maiores ponos turisticos da Provincia.</p>
        </ion-slide>
      
      </ion-slides>
</ion-content>
