ion-content{

    --ion-background-color:#cccccc;
}

ion-slide{

    animation-fill-mode: fill;
    height: 700px;
}

span{
 padding-bottom: 500px;
    position: absolute;
    display: flexbox;
   
}

p{

    position: absolute;
    padding-top: 477px;
    padding-left: 10px;

}