<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title color="primary">Guia Turistico - Malange</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-slides pager="true" speed="1000">
  
          <ion-slide style="background-color: aquamarine" >
              <span>Malange é uma cidade e minicípio de Angola, da capital da Provincia de Malange.
            </span>
            <ion-img src="assets/ma.jpg"></ion-img>
            <p>Quedas de Calandula</p>
          </ion-slide>
        
          <ion-slide style="background-color: aquamarine">
              <span>Malange é uma cidade e minicípio de Angola, da capital da Provincia de Malange.
            </span>
              <ion-img src="assets/ma2.jpg"></ion-img>
              <p>Pedras de Pungo-a-Ndondo</p>
          </ion-slide>
        
          <ion-slide style="background-color: aquamarine">
              <span>Malange é uma cidade e minicípio de Angola, da capital da provinci de Malange.
            </span>
              <ion-img src="assets/pa.jpg"></ion-img>
              <p>Palanca Negra Gigante.</p>
          </ion-slide>
        
        </ion-slides>
  </ion-content>
  